<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Projet Musically
			{% endblock %}
		</title>

		<link rel="icon" href="data:image/svg+xml,
			            <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22>
			            <text y=%221.2em%22 font-size=%2296%22>🎵</text>
			            </svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	<body>

		<!-- MENU -->
		<nav style="padding: 15px; border-bottom: 1px solid #ddd; margin-bottom: 20px; font-family: Arial, sans-serif;">
			<a href="{{ path('app_home') }}" style="margin-right: 15px;">Accueil</a>
			<a href="{{ path('app_catalogue') }}" style="margin-right: 15px;">Catalogue</a>
			<a href="#" style="margin-right: 15px;">Catégories</a>
			<a href="#" style="margin-right: 15px;">À propos</a>
			<a href="#" style="margin-right: 15px;">Contact</a>
			<a href="#" style="margin-right: 15px;">Panier</a>
			<a href="#" style="margin-right: 15px;">Devis</a>
		</nav>

		<!-- H1 DE LA PAGE -->
		{% block h1 %}{% endblock %}

		<!-- CONTENU DES PAGES -->
		{% block body %}{% endblock %}

	</body>
</html>
